* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: blanchedalmond;
    margin-left: 2%;
}

.mainpage-header {
    text-align: center;
    color: #996c39;
    margin-bottom: 5%;
}

#recipes-list {
    list-style-type: none;
    text-align: center;
}

.main-list-items {
    width: 25%;
    margin: 3% auto;
    padding: 10px;
    background-color: #996c39;
    border-radius: 15px;
}

.mainpage-links {
    text-decoration: none;
    color: white;
}

.recipes-home-button {
    text-decoration: underline;
    color: #754604;
}

.recipes-headers {
    color: #996c39;
    text-decoration: underline;
}

img {
    border-radius: 5%;
    border: 2px solid #754604;
}